@import '_var.scss';

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $headingColor1,
    $headingColor2
  );
  .heading-secondary::after {
    content: 'Book now!';
  }
  .book {
    height: 50rem;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.4) 0%,
        rgba($color-white, 0.5) 50%,
        transparent 50%
      ),
      url(../images/bg-1.jpg);
    background-size: 100%;
    background-position: 0% 60%;
    border-radius: 0.5rem;
    @include box-shadow();
    &__form {
      width: 50%;
      padding: 6rem;
      .form {
        &__group:not(:last-child) {
          margin-bottom: 2rem;
        }
        &__input {
          font-size: $default-font-size;
          padding: 1.5rem 2rem;
          color: inherit;
          font-family: inherit;
          border-radius: 0.4rem;
          background-color: rgba($color-white, 0.8);
          border: none;
          border-bottom: 0.25rem solid transparent;
          width: 75%;
          display: block;
          transition: all 0.3s;
          &:focus {
            outline: none;
            @include box-shadow(0rem, 1rem, 0.3);
            border-bottom: 0.25rem solid $card-col-1;
          }
          &:focus:invalid {
            border-bottom: 0.25rem solid $color-coral;
          }
          &::placeholder {
            color: inherit;
          }
          &:placeholder-shown + .form__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
          }
        }
        &__label {
          font-size: 1.2rem;
          font-weight: 700;
          margin-left: 2rem;
          margin-top: 0.7rem;
          display: block;
          transition: all 0.1s;
        }
        &__radio-group {
          width: 33%;
          display: inline-block;
        }
        &__radio-label {
          font-size: $default-font-size;
          cursor: pointer;
        }
      }
    }
  }
}
