@import '_var.scss';

.footer {
  background-color: $color-dark-gray;
  padding: 10rem 0;
  font-size: 1.2rem;
  @include responsive(M) {
    padding: 15rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }
  &__logo {
    width: 15rem;
    height: auto;
  }
  &__navigation {
    border-top: 0.1rem solid $color-white;
    padding-top: 1rem;
    display: inline-block;
    @include responsive(M) {
      width: 100%;
      text-align: center;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    padding: 0 1rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    transition: all 0.2s;
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-coral;
      @include box-shadow(0rem, 1rem, 0.2);
      scale: 1.1;
      background-color: rgba($color-white, 0.2);
    }
  }

  &__copyright {
    color: $color-white;
    width: 60%;
    float: right;
    border-top: 0.1rem solid $color-white;
    padding-top: 1rem;
    text-align: center;
    @include responsive(M) {
      width: calc(100% * 2 + $gutter-horizontal);
      float: unset;
    }
    .footer__link:hover {
      scale: unset;
    }
  }
}
