@import '_var.scss';

.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba($headingColor1, 0.7),
      rgba($headingColor2, 0.6)
    ),
    url(../images/sunset.jpg);
  background-size: cover;
  background-position: center;
  // background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 63%, 76% 77%, 26% 81%, 0% 94%);
  position: relative;
}

//// COMPANY LOGO ----------------------------------
// .logo-container {
//   position: absolute;
//   top: 2rem;
//   left: 2rem;
//   opacity: 0.8;
//   .logo {
//     width: 100px;
//   }
// }
//// ------------------------------------------------

.header__container {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  .header-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      margin-right: -3.2rem;
      animation: move_from_left 2s ease-out;
    }
    @keyframes move_from_left {
      0% {
        transform: translate(-10rem, -10rem);
        opacity: 0;
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 3.42rem;
      margin-right: -3.2rem;
      animation: move_from_right 2s ease-out;
    }
    @keyframes move_from_right {
      0% {
        transform: translate(10rem, 10rem);
        opacity: 0;
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  .btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 8rem;
      display: inline-block;
      transition: all 1s;
      position: relative;
    }
    &:hover {
      background-color: $color-white;
      color: $gray-Text-Color;
      box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
      &::after {
        transform: scaleY(2) scaleX(1.4);
        opacity: 0;
      }
    }
    &:active {
      transform: scale(0.8);
      box-shadow: 0.2rem 0.2rem 0.2rem rgba($color-black, 0.2);
    }
    &--primary {
      margin-top: 3rem;
      background-color: rgba($main-btn-color, 0.1);
      border: 0.1rem solid $color-white;
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 600;
      &::after {
        background-color: rgba($main-btn-color, 0.3);
      }
    }
    &::after {
      content: ' ';
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 1s;
    }

    &--animated {
      animation: btn_fade 2s ease-in-out 1s backwards;
    }
    @keyframes btn_fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
