@import '_var.scss';

.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba($headingColor1, 0.7),
      rgba($headingColor2, 0.6)
    ),
    url(../images/sunset.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 72%, 76% 77%, 26% 81%, 0% 87%);
  clip-path: polygon(0 0, 100% 0, 100% 72%, 76% 77%, 26% 81%, 0% 87%);
  position: relative;
}

//// -------------------------------------------------------------------- COMPANY LOGO SECTION

// .logo-container {
//   position: absolute;
//   top: 2rem;
//   left: 2rem;
//   opacity: 0.8;
//   .logo {
//     width: 100px;
//   }
// }
//// ------------------------------------------------
// -------------------------------------------------------------------- HEADING TEXTS SECTION
.header__container {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  @include responsive(M) {
    top: 30%;
  }
  .header-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    border: 0.1rem solid $color-white;
    padding: 4rem 5rem;
    animation: border_opacity 2s ease-in-out 1s backwards;
    @include responsive(M) {
      padding: 2rem 3rem;
    }
    @include responsive(S) {
      padding: 2rem 3rem;
      border: none;
    }
    @keyframes border_opacity {
      0% {
        border: 0.1rem solid rgba($color-white, 0);
      }
      100% {
        border: 0.1rem solid rgba($color-white, 1);
      }
    }
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      margin-right: -3.2rem;
      animation: move_from_left 2s ease-out;
      @include responsive(M) {
        letter-spacing: 1.8rem;
        margin-right: -1.8rem;
      }
      @include responsive(S) {
        letter-spacing: 0.5rem;
        margin-right: -0.5rem;
        font-size: 4rem;
      }
      @keyframes move_from_left {
        0% {
          transform: translate(-10rem, -10rem);
          opacity: 0;
        }
        100% {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 3.42rem;
      margin-right: -3.2rem;
      animation: move_from_right 2s ease-out;
      @include responsive(M) {
        letter-spacing: 2.2rem;
        margin-right: -2rem;
      }
      @include responsive(S) {
        letter-spacing: 1rem;
        margin-right: 0;
        font-size: 1.5rem;
      }
      @keyframes move_from_right {
        0% {
          transform: translate(10rem, 10rem);
          opacity: 0;
        }
        100% {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
  }
  // -------------------------------------------------------------------- BUTTON SECTION IN VAR
}
