@import '_var.scss';

// -------------------------------------------------------------------- MAIN SECTION HEADER TEXT
.intro {
  background-color: $color-main-grayish;
  padding: 95rem 5%;
  margin-top: -70%;
  // -------------------------------------------------------------------- LEFT SIDE OF THE SECTION
  .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  .btn-text {
    text-decoration: none;
    transition: all 1s;
    &:link,
    &:visited {
      color: $headingColor2;
      font-size: 2rem;
      // display: inline-block;
      border-bottom: 0.1rem solid $headingColor2;
      padding-bottom: 0.3rem;
    }
    &:hover {
      background-color: $headingColor2;
      color: $color-white;
      padding: 1rem;
      margin-left: -1rem;
    }
    &:active {
      background-color: $headingColor1;
      color: $headingColor2;
      border-bottom: 0.1rem solid $headingColor1;
    }
  }
  // -------------------------------------------------------------------- RIGHT SIDE OF THE SECTION
  .composition {
    position: relative;
    // border: 2rem solid black;
    &__photo {
      width: 55%;
      @include box-shadow;
      border-radius: 0rem;
      position: absolute;
      transition: all 0.5s;
      outline-offset: 1.5rem;
      filter: grayscale(1);
      &--p1 {
        left: 5rem;
        top: 2rem;
      }
      &--p2 {
        left: 10rem;
        top: 12rem;
      }
      &--p3 {
        left: 15rem;
        top: 22rem;
      }
      &:hover {
        outline: 1rem solid $headingColor1;
        z-index: 1;
        transform: scale(1.2);
        box-shadow: 0 3rem 6rem rgba($color-black, 0.6);
        filter: grayscale(0);
      }
    }
    &:hover .composition__photo:not(:hover) {
      transform: scale(0.9);
    }
  }
}
