@import '_var.scss';

// -------------------------------------------------------------------- MAIN SECTION HEADER TEXT
.intro {
  background-color: $color-main-grayish;
  padding: 95rem 5%;
  margin-top: -100rem;
  @include responsive(M) {
    padding: 180rem 5%;
    margin-top: -195rem;
  }
  // -------------------------------------------------------------------- LEFT SIDE OF THE SECTION
  .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  //BUTTON IN _VAR
  // -------------------------------------------------------------------- RIGHT SIDE OF THE SECTION
  .composition {
    position: relative;
    @include responsive(S) {
      left: 25%;
      transform: (-50%);
    }
    &__photo {
      width: 55%;
      @include box-shadow;
      border-radius: 0rem;
      position: absolute;
      transition: all 0.5s;
      outline-offset: 1.5rem;
      filter: grayscale(1);
      &--p1 {
        left: 5rem;
        top: 2rem;
      }
      &--p2 {
        left: 10rem;
        top: 12rem;
      }
      &--p3 {
        left: 15rem;
        top: 22rem;
      }
      &:hover {
        outline: 1rem solid $headingColor1;
        z-index: 1;
        transform: scale(1.2);
        box-shadow: 0 3rem 6rem rgba($color-black, 0.6);
        filter: grayscale(0);
        @include responsive(S) {
          outline: none;
        }
      }
      @include responsive(M) {
        width: 150%;
        margin-bottom: 10rem;
      }
      @include responsive(S) {
        &--p1 {
          left: -2rem;
          top: 2rem;
        }
        &--p2 {
          left: 7rem;
          top: 22rem;
        }
        &--p3 {
          left: 0rem;
          top: 42rem;
        }
      }
    }
    &:hover .composition__photo:not(:hover) {
      transform: scale(0.9);
    }
  }
}
