@import '_var.scss';

.intro {
  background-color: $color-main-grayish;
  padding: 75rem 5%;
  margin-top: -70vh;
  .heading-secondary {
    white-space: nowrap;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(
      to right,
      $text-gradient-1,
      $text-gradient-2
    );
    display: inline-block;
    background-clip: text;
    color: transparent;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 0.2rem;
    &:hover::after {
      opacity: 0;
    }
    &::after {
      content: 'Photo and editing skills';
      position: absolute;
      display: inline-block;
      background-image: linear-gradient(
        to right,
        $text-gradient-2,
        $text-gradient-1
      );
      background-clip: text;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      transition: all 1s;
    }
  }
  .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}
