@import '_var.scss';

.services {
  padding: 30rem 0;
  position: relative;
  top: -9rem;
  height: 65vh;
  background-image: linear-gradient(
      to bottom,
      rgba($headingColor1, 0.7),
      rgba($headingColor2, 0.6)
    ),
    url(../images/sand.jpg);
  background-position: bottom;
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  .service-box {
    background-color: rgba($color-black, 0.3);
    color: $color-white;
    font-size: $default-font-size;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    top: -8rem;
    @include box-shadow;
    transition: all 0.2s;

    &__icon {
      width: 10rem;
    }
    .icon-basic-1 {
      filter: brightness(0) saturate(100%) invert(84%) sepia(15%) saturate(357%)
        hue-rotate(147deg) brightness(97%) contrast(92%);
    }
    .icon-basic-2 {
      filter: brightness(0) saturate(100%) invert(66%) sepia(76%) saturate(900%)
        hue-rotate(163deg) brightness(103%) contrast(97%);
    }
    .icon-basic-3 {
      filter: brightness(0) saturate(100%) invert(17%) sepia(94%)
        saturate(1839%) hue-rotate(343deg) brightness(123%) contrast(70%);
    }
    .icon-basic-4 {
      filter: brightness(0) saturate(100%) invert(48%) sepia(94%) saturate(721%)
        hue-rotate(360deg) brightness(102%) contrast(104%);
    }
    &__text {
    }
    .heading-tertiary--txt-1::before {
      content: 'Lightroom';
    }
    .heading-tertiary--txt-2::before {
      content: 'Photoshop';
    }
    .heading-tertiary--txt-3::before {
      content: 'Portrait photography';
    }
    .heading-tertiary--txt-4::before {
      content: 'Video making';
    }
    &:hover {
      top: -9rem;
      scale: 1.05;
      @include box-shadow(1rem, 3rem, 0.7);
    }
  }
}
