@import '_var.scss';

.section-stories {
  padding: 15rem 0;
  position: relative;
  @include responsive(M) {
    padding: 25rem 0;
  }
  .heading-secondary::after {
    content: 'What others have to say';
  }
  .story {
    width: 75%;
    margin: 0 auto;
    @include box-shadow;
    background-color: rgba($color-white, 0.6);
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    margin-bottom: 10rem;
    @include responsive(M) {
      width: 100%;
      padding: 7rem;
      height: auto;
    }
    @include responsive(S) {
      width: 100%;
      transform: skewX(0);
    }
    & > * {
      transform: skewX(12deg);
      @include responsive(S) {
        // width: 150%;
        transform: skewX(0);
      }
    }
    &__shape {
      width: 15rem;
      height: 15rem;
      float: left;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(12deg);
      position: relative;
      @include responsive(M) {
        margin: 1.5rem;
      }
      @include responsive(S) {
        transform: translateX(-3rem) skewX(0);
      }
    }
    &__image {
      width: 100%;
      backface-visibility: hidden;
      scale: 1.2;
      transition: all 0.5s;
      transform: translateY(1.2rem);
    }
    &__caption {
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;
    }

    &__text {
    }
    &:hover .story__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    &:hover .story__image {
      scale: 1;
      filter: blur(0.5rem) brightness(80%);
      transform: unset;
    }
  }
  .story-btn {
    text-align: center;
    position: relative;
    .btn-text {
      &:link,
      &:visited {
      }
      &:hover {
        margin-left: 0;
      }
    }
  }
  .bg-video {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    overflow: hidden;
    &__content {
      height: 90%;
      width: 100%;
      object-fit: cover;
      object-position: 0;
    }
  }
}
