@import url(https://fonts.googleapis.com/css?family=Lato:wght@100,300,400,700,900);

$font-lato: 'Lato', sans-serif;

$White: rgb(255, 255, 255);
$Gray-Text-Color: rgb(119, 119, 119);
$LightBlue: rgb(160, 201, 255);
$MediumBlue: rgb(118, 178, 255);
$DarkBlue: rgb(77, 154, 255);
$LightBlueTransparent: rgba(255, 241, 160, 0.7);
$DarkBlueTransparent: rgba(255, 127, 77, 0.6);
