@import url(https://fonts.googleapis.com/css?family=Lato:wght@100,300,400,700,900);

// ------------------------------------- FONTS
$font-lato: 'Lato', sans-serif;
$default-font-size: 1.6rem;
// ------------------------------------- PRIMARY COLOURS
$color-white: rgb(255, 255, 255);
$color-black: rgba(0, 0, 0);
$color-main-grayish: rgb(241, 241, 241);
$color-coral: coral;
// ------------------------------------- PRIMARY COLOURS FOR GRADIENTS
$headingColor1: rgb(255, 239, 169);
$headingColor2: rgba(255, 140, 111);
$text-gradient-1: rgb(255, 208, 0);
$text-gradient-2: rgba(255, 140, 111);
// ------------------------------------- BUTTON COLOURS
$main-btn-color: rgba(172, 172, 172);
$gray-Text-Color: rgb(119, 119, 119);
// ------------------------------------- GRID WIDTHS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

// GRID
.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  // @include clearfix;

  [class^='col-'] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
// ------------------------------------- UNIVERSAL CLASSES

.margin-XL {
  margin-bottom: 8rem;
}
.margin-M {
  margin-bottom: 4rem;
}
.margin-S {
  margin-bottom: 2rem;
}
