@import url(https://fonts.googleapis.com/css?family=Lato:wght@100,300,400,700,900);

$font-lato: 'Lato';

$White: rgb(255, 255, 255);
$LightBlue: rgb(160, 201, 255);
$MediumBlue: rgb(118, 178, 255);
$DarkBlue: rgb(77, 154, 255);
