@import '_var.scss';
@import '_heading.scss';
@import '_intro.scss';
@import '_services.scss';
@import '_pricing.scss';
@import '_stories.scss';
@import '_booking.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  body {
    background-color: $color-main-grayish;
    font-family: $font-lato;
    font-weight: 400;
    // font-size: 1.6rem;
    line-height: 1.7;
    color: $gray-Text-Color;
    // padding: 3rem;
    box-sizing: border-box;
  }
}
