@import '_var.scss';
@import '_heading.scss';
@import '_intro.scss';
@import '_services.scss';
@import '_pricing.scss';
@import '_stories.scss';
@import '_booking.scss';
@import '_footer.scss';
@import '_navigation.scss';
@import '_popup.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  @include responsive(XXL) {
    font-size: 80%;
  }
  @include responsive(XL) {
    font-size: 56.25%; //1rem = 8px; 8/16 = 50%
  }
  @include responsive(M) {
    font-size: 50%;
  }
  // @include responsive(S) {
  //   font-size: 50%;
  // }
  body {
    background-color: $color-main-grayish;
    font-family: $font-lato;
    font-weight: 400;
    // font-size: 1.6rem;
    line-height: 1.7;
    color: $gray-Text-Color;
    // padding: 3rem;
    box-sizing: border-box;
  }
}

::selection {
  background-color: $color-coral;
  color: $color-white;
}
