@import '_var.scss';
@import '_heading.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  body {
    background-color: $color-white;
    font-family: $font-lato;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $gray-Text-Color;
    // padding: 3rem;
    box-sizing: border-box;
  }
}
